body {
    background-color: black;
}
.container {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    color: #121214;
}
div {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
div .quem {
    margin-top: 73px;
    font-size: 32px;
    color: white;
}
section {
    width: 700px;
}
section ul {
    margin-top: 61px;
    list-style: none;
    display: flex;
    color: white;
    align-items: center;
    gap: 20px;
    margin: 0 auto;

}
.perfis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100x;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 206px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    
}
section ul .avatar {
    border-radius: 8px;
}

section ul li img:hover {
    transform: scale(1.2);
}
section ul li img {
    overflow: hidden;
}
.perfis:hover {
    background-color: #FFFFFF;
    color:black;
}
p {
    display: flex;
    justify-content: center;
}